<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
    <link rel="stylesheet" href="../static/solid.css" type="text/css"/>
  </head>
  <body lang="en">
    <section id="main">
      <header id="title">
        <h1>{{data.name}}</h1>
      </header>
      <section class="main-block">
        <h2>
          <i class="fa-solid fa-suitcase"></i> Experiences
        </h2>
        {% for experience in data.experiences %}
        <section class="blocks">
          <div class="date">
            <span>{{experience.startDate}}-{{experience.endDate}}</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>{{experience.job}}</h3>
              <span class="place">{{experience.employer}}</span>
              <span class="location">{{experience.city}}</span>
            </header>
            <div>
              <ul>
                <li>{{experience.duties}}</li>
              </ul>
              </div>
          </div>
        </section>
        {% endfor %}
      </section>
      <section class="main-block concise">
        <h2>
            Education
        </h2>
        <section class="blocks">
          <div class="date">
            <span>2009-2014</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>{{data.degree}}</h3>
              <span class="place">{{data.university}}</span>
              <span class="location">{{data.nation}}</span>
            </header>
          </div>
        </section>
      </section>
    </section>
    <aside id="sidebar">
      <div class="side-block" id="contact">
        <h1>
          Contact Info
        </h1>
        <ul>
          <li>{{data.email}}</li>
          <li>{{data.number}}</li>
        </ul>
      </div>
      <div class="side-block" id="skills">
        <h1>
          Skills
        </h1>
        <ul>
          <li>Omnipresence</li>
          <li>Anonymity</li>
        </ul>
        <ul>
          <li>Ordinarity</li>
          <li>No name rights</li>
        </ul>
      </div>
    </aside>
  </body>
</html>